<!DOCTYPE html>
<html>

<head>
    <title> Code Snuppet Extractor Options</title>
    <link rel="stylesheet" type=" text/css" href="../style/options.css">
</head>

<body> 
    <h1> Code Snippet Extractor Options</h1>
    <lable for="langauge">Preferred Code Language:</lable>
    <select id="language">
        <option value="javascript">JavaScript</option>
        <option value="python">Python</option>
        <option value="C++">C++</option>
    </select>
    <button id="saveButton">Save</button>

    <script src="../scripts/options.js"></script>
</body>

</html>